{% extends "base.html" %}
{% block title %}Par mums - Silky soaps{% endblock %}
{% block content %}
    <h2>Par skolēnu mācību uzņēmumu Silky soaps</h2>
    <p>Silkysoaps tika izveidots 2024. gadā Junior Achievements Latvia projekta ietvaros. <p>    
    <p> Mēs piedāvājam paštaisītas ziepes rokām, ķermenim un sejai, kuras ir bagātinātas ar dabīgām sastāvdaļām - kazas pienu, šī sviestu un kokosriekstu eļļu. Kas palīdz mitrināt ādu, padarot to īpaši maigu un zīdainu.</p>

    <h2>Mērķis</h2>
    <p>Piedāvāt roku gatavotas, kvalitatīvas un videi draudzīgas ziepes, kas rūpējas gan par ādu, gan par apkārtējo vidi. Mēs vēlamies radīt produktus, kas ir dabīgi, patīkami lietošanā un vizuāli pievilcīgi, vienlaikus attīstot savas uzņēmējdarbības un radošās prasmes.</p>
    <h2>Pieseko mums sociālajos tīklos, lai ātrāk uzzinātu jaunumus! </h2>
    <p>Instagram - @silkysoaps_smu</p>
    <p>Tiktok - @silkysoaps_smu</p>
    <p>Facebook - @silkysoaps.smu</p>
{% endblock %}