{% extends "base.html" %}
{% block title %}Sākums{% endblock %}
{% block content %}
<h1>Laipni lūdzam Silky soaps veikalā!</h1>
<p>Piedāvājam dabīgas, paštaisītas ziepes, kuras mitrinās un rūpēsies par jūsu ādu.</p>
<p>Skaties mūsu jaunākos produktus!</p>
<h1>Klientu atsauksmes</h1>
<blockquote class="testimonial">
    “Šīs ziepes ir īsts atradums – smaržo fantastiski un padara ādu tik maigu!” – Santa
</blockquote>
<blockquote class="testimonial">
    “Ideāla dāvana draudzenei! Iesaiņojums skaists, un ziepes izskatās kā mākslas darbs.” – Kristiāna
  </blockquote>
{% endblock %}

